/S01 - MVC01/SoluionMVC01/packages/
/S01 - MVC01/SoluionMVC01/AplicacionMVC01/bin/
/S01 - MVC01/SoluionMVC01/AplicacionMVC01/obj
/EC3/SolucionEC3ManuelCabos/packages/
/EC3/SolucionEC3ManuelCabos/ProyectoEC3ManuelCabos/bin/
/EC3/SolucionEC3ManuelCabos/ProyectoEC3ManuelCabos/obj/
