
@{
    ViewBag.Title = "PagarPapeleta";
}

<h2>PagarPapeleta</h2>

<div class="alert alert-success">
    @ViewBag.MENSAJE
</div>
<p>
    @Html.ActionLink("Regresar", "ListarPropietarios", "Propietario")
</p>