
@{
    ViewBag.Title = "Agregar_Articulo_Carrito";
}

<h2>Agregar_Articulo_Carrito</h2>

<div class="alert alert-success">
    @ViewBag.MENSAJE
</div>
<br />
<div>
    @Html.ActionLink("Seguir Comprando", "Listar_Articulos") | 
    @Html.ActionLink("Ver Carrito", "Ver_Carrito_Compra")
</div>