
@{
    ViewBag.Title = "Eliminar_Articulo_Carrito";
}

<h2>Eliminar_Articulo_Carrito</h2>

<div class="alert alert-danger">
    @ViewBag.MENSAJE
</div>
<br />
<div>
    @Html.ActionLink("Seguir Comprando", "Listar_Articulos") |
    @Html.ActionLink("Ver Carrito", "Ver_Carrito_Compra")
</div>