
@{
    ViewBag.Title = "FinalizarCarrito";
}

<h2>FinalizarCarrito</h2>

<div class="alert alert-info">
    @ViewBag.MENSAJE
</div>
<br />
<div>
    @Html.ActionLink("Nueva Compra", "Listar_Articulos") 
</div>