
@{
    ViewBag.Title = "finalizar_carrito";
}

<h2>finalizar_carrito</h2>

<div class="alert alert-info">
    @ViewBag.msj
</div>
<br />
<div>
    @Html.ActionLink("Realizar nueva compra", "buscar_peliculas", null, new { @class = "btn btn-info" })
</div>